* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background-color: #0B192C;
  color: white;
  text-align: center;
  padding: 50px 20px;
  position: relative;
  height: 120vh;
  clip-path: path("M0,600 C500,500 940,500 1440,600 L1440,0 L0,0 Z");
}

.heading-one {
  font-size: 8rem;
  font-weight: 200;
  color: #F9E8C9;
  animation: fadeInScale 2s ease-out forwards;
  opacity: 0;
  transform: scale(0.8);
}

.description {
  color: #F9E8C9;
}

.project-detail-banner {
  color: #F9E8C9;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.description {
  font-size: 20px;
  font-weight: 200;
}

/*------------------------CARDS---------------------------*/
.card {
  height: 500px;
}

.card-img-top {
  transition: transform 0.5s;
  height: 200px;
}

.card-title {
  color: #0B192C;
}

.project-detail {
  color: #0B192C;
}

.overlay {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, #F9E8C9 58%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.overlay h5 {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 80%;
  font-size: 30px;
  letter-spacing: 2px;
  color: #0B192C;
}

.card:hover .overlay {
  height: 100%;
}