* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.banner {
  background-color: #0B192C;
  color: white;
  text-align: center;
  padding: 50px 20px;
  position: relative;
  height: 120vh;
  clip-path: path("M0,600 C500,500 940,500 1440,600 L1440,0 L0,0 Z");
}

.heading-one {
  font-size: 7rem;
  font-weight: 200;
  color: #F9E8C9;
  animation: fadeInScale 2s ease-out forwards;
  opacity: 0;
  transform: scale(0.8);
}

.description {
  color: #F9E8C9;
}

.project-detail-banner {
  color: #F9E8C9;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.description {
  font-size: 20px;
  font-weight: 200;
}

.banner-img {
  margin-top: 15%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

/*------------------------SKILLS--------------------------*/
.skill-container {
  background: #F9E8C9;
  border-radius: 20px;
}

.skill-item {
  border: 2px solid #0B192C !important;
  border-radius: 20px !important;
  font-weight: bold !important;
}


/*------------------------CARDS---------------------------*/
.card {
  height: 500px;
  border: 3px solid #F9E8C9;
}

.card-img-top {
  transition: transform 0.5s;
  height: 200px;
}

.card-title {
  color: #0B192C;
}

.project-detail {
  color: #0B192C;
}

.overlay {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, #F9E8C9 58%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.overlay h5 {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 80%;
  font-size: 30px;
  letter-spacing: 2px;
  color: #0B192C;
}

.card:hover .overlay {
  height: 100%;
}

.fa-github {
  font-size: 24px;
}

.fa-link {
  font-size: 24px;
}

.links a {
  color: #0B192C !important;
}

/*---------------------------------FOOTER--------------------------------*/

.wave-container {
  position: relative;
  width: 100%;
  height: 120px;
}

.wave-svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.footer-text {
  color: #F9E8C9;
}

/*-----------------------MEDIA QUERY----------------------------------*/
@media (min-width: 375px) and (max-width: 768px) {
  .banner {
    height: 100vh;
  }

  .heading-one {
    font-size: 4rem;
    font-weight: 200;
    color: #F9E8C9;
    animation: fadeInScale 2s ease-out forwards;
    opacity: 0;
    transform: scale(0.8);
  }

  .banner-img {
    display: none;
  }

  .card {
    margin-bottom: 20px !important;
  }

  .skill-container {
    margin-top: 0 !important;
  }

  .skills-list {
    flex-direction: column !important;
  }

  .skill-item {
    padding: 0 !important;
    margin-bottom: 10px !important;
  }


}